.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .15;
  overflow: hidden; //cuando algo se escapa del contenedor, esto elimina el exceso

  &__content {
    height: 100%;
    width: 100%;
    object-fit: cover; //permite ajustar el video al tamaño del fondo, manteniendo la proporción.
  }
}